header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

header > h1 {
    padding: 10px;
}
}
nav {
  width: 60%;
  margin: 0 auto;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
}
li a {
  text-decoration: none;
  background-color: #D3D3D3;
  padding: 5px 2px;
  color: #ffffff;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 80%;
  padding: 8px 0 2px;
}

.counter-banner {
  background-color: #75FFD4;
  width: 95%;
  margin: 0 auto;
}
h2 {
  padding: 8px;
}
#counter {
  border-bottom: 4px solid #FFD52B;
}

.picture-container {
  width: 50%;
  margin: 0 auto;
}
.card {
  display: inline-block;
}
