*,
*::before,
*::after {
  margin: 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}
header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

header > h1 {
    padding: 10px;
    margin: 0;
}
ul {
  list-style: none;
  text-align: center;
  padding: 5px 0;
  margin: 0 0 5px;
}

ul li {
  display: inline-block;
}
li a {
  text-decoration: none;
  background-color: #D3D3D3;
  color: #ffffff;
  padding: 5px 2px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 80%;
  padding: 8px 0 2px;
}

.counter-banner {
  background-color: #75FFD4;
  width: 80%;
  margin: 8px auto;
}
h2 {
  padding: 8px;
  font-weight: normal;
}
#counter {
  border-bottom: 4px solid #FFD52B;
  font-weight: bold;
}

#counter:hover {
  color: red;
}

.picture-container {
  width: 80%;
  margin: 0 auto;
  padding: 5px auto;
}
.card {
  display: inline-block;
}

img {
  margin: 0;
}

.picture-footer {
  background-color: #FFD52B;
  margin: 1px 0 7px 0;
  text-align: center;
}
